<a href="https://colab.research.google.com/github/mgb9/BDAO_2122/blob/main/web_scraping_imdb_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
url = "http://www.imdb.com/chart/top"
response = requests.get(url)
soup = BeautifulSoup(response.text, "lxml")

In [ ]:
movies = [elm.a.text for elm in soup.select('td.titleColumn')]
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=nv]')]

In [ ]:
top_movies = pd.DataFrame({'Movie_title':movies, 'Link': links, 'Cast': crew, 'Rating': ratings, 'Rating_counts': votes})

In [ ]:
top_movies.head()

                Movie_title               Link  ...             Rating Rating_counts
0  The Shawshank Redemption  /title/tt0111161/  ...  9.239855531652625       2551379
1             The Godfather  /title/tt0068646/  ...  9.160680638009685       1755549
2           The Dark Knight  /title/tt0468569/  ...  8.992154032950884       2502216
3    The Godfather: Part II  /title/tt0071562/  ...  8.989937377947134       1216811
4          De 12 gezworenen  /title/tt0050083/  ...  8.950299392474438        754052

[5 rows x 5 columns]